@page
@model Eleventh.Pages.MonsterModel
@{
}
<h1>Monster</h1>

<div>
    <button id="strong" class="btn btn-danger">Strong Attack</button>
    <button id="fast" class="btn btn-danger">Fast Attack</button>
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/fight.js"></script>
}